<h1>Listing avrs</h1>

<table id="avrs" class="display" data-source="<%= avrs_url(format: "json") %>">
  <thead>
    <tr>
      <th>Mdu</th>
      <th>Adress</th>
      <th>Type avr</th>
      <th>Material</th>
      <th>Comment</th>
      <th>User</th>
      <th>Date on</th>
      <th>Date off</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Avr', new_avr_path %>
