<h1>Аварии</h1>

<form action='/avrs/avr.id' method="PUT">
  <input type="hidden" name="date_off" value="" >

  <submit>Close</submit>
</form>

<table id="avrs" class="display" data-source="<%= avrs_url(format: "json") %>" data-mdu="<%= params[:mdu] %>">
  <thead>
    <tr>
      <th>Mdu</th>
      <th>Adress</th>
      <th>Type avr</th>
      <th>Material</th>
      <th>Comment</th>
      <th>User</th>
      <th>Date on</th>
      <th>Date off</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Avr', new_avr_path %>
